@import "tailwindcss";

:root {
  --off-white: #f5f5f5;
  --off-black: #1a1a1a;
  --subtle-blue: #0070f3;
  --subtle-blue2: #afdaff;
  --subtle-green: #00c853; /* 50, 168, 78*/
  --subtle-green2: #e0f7e9;
  --subtle-red: #ff4d4d;
  --subtle-red2: #ffe0e0;
  --light-gray: #e0e0e0;
  --warm-gray: #a0a0a0;
  --dark-gray: #555555;

  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* semantic tokens */
  --bg-color: var(--off-black);
  --text-color: var(--off-white);
  --text-color2: var(--light-gray);
  --text-color3: var(--warm-gray);
  --primary-color: var(--subtle-blue);
  --secondary-color: var(--subtle-green);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Background Clouds */
@keyframes cloud-drift {
  0% {
    transform: translate(-20vw, 0px);
  }
  25% {
    transform: translate(15vw, 10px); /* Drift down */
  }
  50% {
    transform: translate(50vw, -10px); /* Drift up */
  }
  75% {
    transform: translate(85vw, 10px); /* Drift down */
  }
  100% {
    transform: translate(120vw, 0px);
  }
}

.animate-cloud {
  animation: cloud-drift 60s linear infinite;
  will-change: transform;
}
