@import "tailwindcss";

:root {
  --off-white: #f5f5f5;
  --off-black: #1a1a1a;
  --subtle-blue: #0070f3;
  --subtle-blue2: #d2e5f6;
  --subtle-green: #00c853; /* 50, 168, 78*/
  --subtle-green2: #e0f7e9;
  --subtle-red: #ff4d4d;
  --subtle-red2: #ffe0e0;
  --light-gray: #e0e0e0;
  --warm-gray: #a0a0a0;
  --dark-gray: #555555;

  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);
  font-family: var(--font-mono);
  scroll-behavior: smooth;
}
